xml-resources/axis2/META-INF/PersonServiceImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:axis2="http://webservice/person/soap/practice/com/" xmlns:ns1="http://bean.person.soap.practice.com/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns0="http://webservice/person/soap/practice/com/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://webservice/person/soap/practice/com/">
    <wsdl:types>
        <xs:schema xmlns:ns="http://webservice/person/soap/practice/com/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://webservice/person/soap/practice/com/xsd">
            <xs:element name="getPerson">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="id" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPersonResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ns1:Person"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addPerson">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="id" type="xs:int"/>
                        <xs:element minOccurs="0" name="fname" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="lname" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addPersonResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns:ax21="http://bean.person.soap.practice.com/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://bean.person.soap.practice.com/xsd">
            <xs:complexType name="Person">
                <xs:sequence>
                    <xs:element minOccurs="0" name="firstname" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="id" type="xs:int"/>
                    <xs:element minOccurs="0" name="lastname" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="addPersonRequest">
        <wsdl:part name="parameters" element="ns0:addPerson"/>
    </wsdl:message>
    <wsdl:message name="addPersonResponse">
        <wsdl:part name="parameters" element="ns0:addPersonResponse"/>
    </wsdl:message>
    <wsdl:message name="getPersonRequest">
        <wsdl:part name="parameters" element="ns0:getPerson"/>
    </wsdl:message>
    <wsdl:message name="getPersonResponse">
        <wsdl:part name="parameters" element="ns0:getPersonResponse"/>
    </wsdl:message>
    <wsdl:portType name="PersonServiceImplPortType">
        <wsdl:operation name="addPerson">
            <wsdl:input message="axis2:addPersonRequest" wsaw:Action="urn:addPerson"/>
            <wsdl:output message="axis2:addPersonResponse" wsaw:Action="urn:addPersonResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getPerson">
            <wsdl:input message="axis2:getPersonRequest" wsaw:Action="urn:getPerson"/>
            <wsdl:output message="axis2:getPersonResponse" wsaw:Action="urn:getPersonResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PersonServiceImplSOAP11Binding" type="axis2:PersonServiceImplPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="addPerson">
            <soap:operation soapAction="urn:addPerson" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPerson">
            <soap:operation soapAction="urn:getPerson" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="PersonServiceImplSOAP12Binding" type="axis2:PersonServiceImplPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="addPerson">
            <soap12:operation soapAction="urn:addPerson" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPerson">
            <soap12:operation soapAction="urn:getPerson" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="PersonServiceImplHttpBinding" type="axis2:PersonServiceImplPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="addPerson">
            <http:operation location="PersonServiceImpl/addPerson"/>
            <wsdl:input>
                <mime:content type="text/xml" part="addPerson"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="addPerson"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPerson">
            <http:operation location="PersonServiceImpl/getPerson"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getPerson"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getPerson"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="PersonServiceImpl">
        <wsdl:port name="PersonServiceImplSOAP11port_http" binding="axis2:PersonServiceImplSOAP11Binding">
            <soap:address location="http://localhost:8080/axis2/services/PersonServiceImpl"/>
        </wsdl:port>
        <wsdl:port name="PersonServiceImplSOAP12port_http" binding="axis2:PersonServiceImplSOAP12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/PersonServiceImpl"/>
        </wsdl:port>
        <wsdl:port name="PersonServiceImplHttpport" binding="axis2:PersonServiceImplHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/PersonServiceImpl"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
